
body {
  background-color: #E8ECEF;
}

.text-center.content {
    padding-top: 200px;
    padding-bottom: 50px;
}

.secret{
  width:60%;
}

.text{
  padding-left:15%;
  padding-right:15%;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #194350;
  width:70%;
  margin:1% auto;
}


.secret-button{
  margin-bottom: 2%;
}

footer,#github-link{
  font-family: 'Lobster', cursive;
  color:#fff;
} 

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #282d32;
	text-align: center;
  padding-top:1%;
}

